@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap");

/* Scrollbar styling for WebKit browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(255, 249, 240);
  border-left: 1px solid rgba(36, 21, 0, 0.645);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(36, 0, 32);
  width: 5px;
  border-radius: 2px;
}

/* Scrollbar styling for WebKit browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(255, 249, 240);
  border-left: 1px solid rgba(36, 21, 0, 0.645);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(36, 0, 32);
  width: 5px;
  border-radius: 2px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

.whole-app {
  background: url("../assets/background.jpg");
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.app {
  opacity: 0.97;
  width: 1600px;
  height: 700px;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(255, 249, 240);
  height: 70px;
  width: 100%;
  margin-bottom: 10px;
}

.header #logo {
  float: left;
  margin: 0px 10px;
  width: 40px;
}

.header h1 {
  float: left;
  font-family: "Pacifico", sans-serif;
  font-size: 30px;
}

.header #search {
  left: 55px;
  position: relative;
  width: 25px;
}

#searchInput {
  border: 0.5px solid gray;
  width: 350px;
  font-size: 16px;
  height: 40px;
  border-radius: 20px;
  margin-left: 20px;
  padding: 0px 0px 0px 35px;
}

#open-chat,
#start-live,
#join-live {
  transform: translate(400px, 0px);
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 0px 15px;
  height: 40px;
}

.header #open-chat {
  color: white;
  margin: 0px 60px;
  background-color: orangered;
}

.header #start-live {
  color: white;
  margin: 0px 15px 0px 50px;
  background-color: rgb(0, 10, 98);
}

.header #join-live {
  margin-right: 20px;
  color: rgb(255, 255, 255);
  background-color: black;
}

.main-body {
  display: flex;
  height: 620px;
  width: 100%;
  margin-bottom: 10px;
}

.status-body {
  height: 600px;
  overflow-y: auto;
  background-color: rgb(255, 249, 240);
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 10px;
  flex: 2;
}

.book-section {
  border-bottom: 1px solid #dddddd;
  margin-right: 10px;
  padding-bottom: 10px;
}

.book-section:last-child {
  border-bottom: none;
}

.status-card {
  margin-right: 10px;
  background-color: transparent;
  border-bottom: 1px solid #dddddd;
  padding: 20px 0px;
  width: 100%;
}

.status-card:last-child {
  border-bottom: none;
}

.status-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.status-card p {
  margin: 5px 0;
  color: #555;
}

.toggle-button {
  background-color: transparent;
  border: none;
  padding-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-button p {
  font-size: 25px;
  font-weight: 600;
}

.toggle-button img {
  width: 40px;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  margin-left: 10px;
  padding: 10px 0px 10px 10px;
  background-color: rgb(255, 249, 240);
  display: flex;
  flex-direction: column;
  flex: 7;
}

.card-body-top-bar {
  width: 99%;
  height: 45px;
}

.card-body-top-bar h2 {
  padding: 5px 0px;
  font-size: 20px;
  float: left;
}

.card-body-top-bar select {
  height: 35px;
  float: right;
  font-weight: 400;
  font-size: 16px;
  border: none;
  background-color: darkgray;
  color: white;
  padding: 5px 5px;
  border-radius: 6px;
}

.card-body-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  height: 580px;
  overflow-y: auto;
}

.card {
  display: flex;
  align-items: center;
  width: 340px;
  height: 150px;
  background-color: rgb(255, 249, 240);
  border-radius: 8px;
  box-shadow: inset 5px 5px 5px 2px rgb(255, 246, 233),
    5px 5px 10px 2px rgb(255, 234, 202);
  padding: 20px;
}

#card-details {
  margin: 0px 20px;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  margin: 5px 0;
  color: #555;
}

.card img {
  width: 100px;
}

#add-book {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  transform: translate(1100px, 460px);
  width: 90px;
  height: 90px;
  background-color: orangered;
}

#add-book img {
  width: 80px;
  height: 80px;
}

.add-book-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  width: 1600px;
  height: 700px;
}

.add-book-div {
  background-color: rgb(255, 249, 240);
  border-radius: 10px;
  width: 700px;
  height: 600px;
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.add-book-div p {
  float: left;
  font-size: 25px;
  padding: 5px;
  margin-right: 10px;
  font-weight: 600;
}

.add-book-div input,
select {
  font-size: 20px;
  float: left;
  border: none;
  background-color: lightgray;
  padding: 5px 10px;
  float: left;
  border-radius: 5px;
  height: 30px;
}

#isbn,
#title,
#genre,
#author,
#status-page,
#image-url,
#bookmarked-page {
  width: 100%;
  display: inline-block;
  margin: 15px 0px;
  align-items: center;
}

#isbn input {
  width: 550px;
}

#isbn button {
  float: right;
  background-color: rgb(0, 4, 109);
  border: none;
  border-radius: 4px;
  padding: 5px;
}

#isbn img {
  width: 25px;
  height: 25px;
}

#title input {
  width: 600px;
}

#genre input {
  width: 580px;
}

#author input {
  width: 570px;
}

#status-page input {
  width: 210px;
}

#status-page select {
  height: 45px;
  margin-right: 10px;
}

#image-url input {
  width: 530px;
}

#bookmarked-page input {
  width: 100px;
}

.add-book-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 70px;
  width: 100%;
}

#book-button {
  height: 50px;
  display: inline-block;
  font-size: 25px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 600px;
  color: rgb(255, 255, 255);
}

/*Chat CSS*/
.background {
  border-radius: 10px;
  width: 110%;
  height: 110%;
  background: rgb(255, 249, 240);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

#remove-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: red;
  border: none;
  border-radius: 50%;
}

#remove-chat img {
  width: 20px;
}

.form-title {
  font-size: 42px;
  font-weight: 800;
  font-family: "Pacifico";
  color: black;
  padding-bottom: 12px;
}

.form-subtitle {
  font-size: 20px;
  padding-bottom: 24px;
}

.auth-input {
  border: 0.5px solid gray;
  width: 310px;
  font-size: 20px;
  height: 40px;
  border-radius: 10px;
  padding: 5px 18px;
  margin-bottom: 10px;
}

.auth-button {
  font-size: 20px;
  width: 100%;
  height: 60px;
  color: white;
  background-color: #fa541c;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.44s ease;
  -webkit-transition: all 0.44s ease;
  -moz-transition: all 0.44s ease;
}

.auth-button:hover {
  filter: brightness(145%);
}

.chat-wrapper {
  height: 90vh;
  width: 90%;
  background-color: rgb(255, 249, 240);
}

.chat-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  height: 75vh;
  background-color: rgb(255, 249, 240);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.chat-box .header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.chat-box .header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.chat-box .content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat-box .footer {
  width: 100%;
  display: flex;
  justify-content: center; /* Center buttons in footer */
  margin-top: 10px;
}

.chat-box .footer button {
  margin: 0 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fa541c; /* Example color */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-box .footer button:hover {
  background-color: #e64a19; /* Darker shade on hover */
}
